{% extends "pages/base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create an Account</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
    <div class="border-bottom pt-3">
      <a class="ml-2" href="{% url 'login'%}">Already Have An Account?</a>
    </div>
  </form>
</div>
{% endblock content %}
